body {
	margin: 0;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: right;
}

.nav-logo {
	float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item .nav-link:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}