body {
	font-family: Arial;
	margin: 0;
}

#clickhere {
	text-decoration: none;
	color: gray;
}

#redirect {
	font-size: 20px;
	margin-top: 22%;
}

.default-body #accountName {
	color: #444444;
}

.default-body a {
	display:inline;
	text-decoration:none;
	color:black;
}

.games-body a {
	color:black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3780D7;
}

.footer {
	position: fixed;
	color: white;
	background-color: #3780D7;
    bottom: 0;
    width: 100%;
}

.footer a {
	text-decoration: underline;
	color: white;
}

.nav-item {
    float: right;
}

.nav-logo {
	float: left;
	margin-top:3px;
	margin-left:3px;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item .nav-link:hover {
    background-color: #225faa;
}