body {
	font-family: Arial;
	margin: 0;
	min-width: 1280px;
	min-height: 1024px;
	max-width: 1280px;
	max-height: 1024px;
}

#clickhere {
	text-decoration: none;
	color: gray;
}

#redirect {
	font-size: 20px;
	margin-top: 22%;
}

.default-body #accountName {
	color: #444444;
}

.default-body a {
	display:inline;
	text-decoration:none;
	color:black;
}

.games-body a {
	color:black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3780D7;
}

.footer {
	position: fixed;
	color: white;
	background-color: #3780D7;
    bottom: 0;
    width: 100%;
}

.footer a {
	text-decoration: underline;
	color: white;
}

.nav-item {
    float: right;
}

.nav-logo {
	float: left;
	margin-top:3px;
	margin-left:3px;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item .nav-link:hover {
    background-color: #225faa;
}

#messages-box {
	width:100%;
	background-color:red;
	text-align: center;
}

#closeMessage {
	text-decoration: none;
	color: black;
	float: right;
	display: inline;
}

#table {
	width: 40%;
	margin-top: 12.5%;
	display:inline-block;
	float:left;
	margin-left:2.5%;
	height: 50%;
	background-color:#464646;
	display:none;
	border: 1px solid white;
}

#messagess {
	margin:0;
	background:#000;
	display:inline-block;
	border:1px solid #333;
	border-bottom-color:#444;
	border-top-color:#222;
	height:14.57em;
	width:40%;
	height:50%;
	float:right;
	margin-top:12.5%;
	margin-right:2%;
	color:white;
	overflow-y:auto;
}

#messagess::-webkit-scrollbar{-webkit-appearance:none;width:10px;}

#game {
	background-color:#1c1c1c;
	height:64%;
	width:80%;
	margin-left:10%;
	display:none;
	border: 5px solid #3780D7;
	border-radius: 10px;
}

.p-messagess {
	word-wrap: break-word;
	display:inline;
}

.mine-box {
	width: 18%;
	height: 17%;
	margin:0;
	padding:0;
	display:inline-block;
	background-color: #e5e5e5;
	border: 1px solid black;
}

#red {
	background-color: red;
	border: 1px solid black;
}

#green {
	background-color: green;
	border: 1px solid black;
}

#black {
	background-color: black;
	border: 1px solid black;
}

.roulette-box {
	width:70%;
	position:relative;
}

.roulette {
	margin-top:3px;
	width:60px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	height:60px;
}

.roulette-sign {
	position: absolute;
	top:3.5px;
	left:49.9%;
	z-index: 10;
	height: 60px;
	width: 5px;
	background-color: #4286f4;
}

.coinflip-game {
	height: 45%;
	margin-left: 27.5%;
	margin-top: 2%;
	width: 50%;
	display: none;
}

.lastRolls {
	height: 60px;
	width: 60px;
	background-color: gray;
	color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

#progress {
	width: 80%;
	height: 60px;
	line-height: 2;
	text-align: center;
}